doctype html
html
    head
        title= title
        meta(name="verify-reformal", content="81679bf86b2c3c600bfdf7b9")
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Serif:700&subset=cyrillic-ext',type='text/css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:500',type='text/css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block style
    body.p-profile.hold-transition.skin-blue.sidebar-mini
        block body
        block js

